.schedule-preview-hour {
   display: flex;
   align-items: center;
   height: 20px;
   width: 30px;
   font-size: 12px;
   color: lightslategray;
}

// .schedule-preview-hour:nth-child(even) {
//    color: white;
// }