.days-section {
   position: sticky;
   top: 0;
   background-color: $bg-clr1;
   z-index: 1;

   .days-container {
      background-color: $bg-clr2;
      display: flex;
      margin-left: 35px;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 2px;
      // position: sticky;
      // top: 0;

      .schedule-preview-day {
         width: 100%;
         min-width: 100px;
         text-align: center;
         padding: 10px;
         box-shadow: 0 1px 1px 0px;
         background-color: $bg-clr2;
      }
   }

}