.task-grid-template {
   cursor: pointer;
   // border-radius: 5px;
   box-shadow: 0 0 1px 0px lightgrey;
   color: #121212;
   font-size: 12px;
   padding-left: 2px;
   display: flex;
   align-items: center;

   &:hover {
      box-shadow: 0 0 1px 1px lightgrey;
   }

   &.select-cell{
      background-color: rgba(211, 211, 211, 0.5);
      cursor: grabbing;
   }

}