.home-page {
   display: flex;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   background-color: $bg-clr1;

   img {
      position: absolute;
      opacity: 0.4;
      bottom: 0;
      max-width: 700px;
   }

   .title {
      font-size: rem(45px);
      font-family: Livvic-Italic;
      text-align: center;
   }

   .sub-title {
      font-family: Livvic-regular;
      text-align: center;
      font-size: rem(25px);
   }

   .link {
      color: $clr1;
      font-size: rem(18px);
      text-decoration: none;
      margin-bottom: 40px;
   }
}