.notification-details {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: $bg-clr4;
   display: flex;
   align-items: center;
   justify-content: center;

   .notification-contianer {
      height: 550px;
      width: 700px;
      min-height: 400px;
      min-width: 370px;
      background-color: $bg-clr5;
      border-radius: 5px;
      position: relative;

      .close-btn {
         position: absolute;
         right: 0;
         top: 5px;
         border: unset;
         background-color: unset;
         padding: 10px;
      }

      .notification-form {
         display: flex;
         flex-direction: column;
         text-align: center;
         align-items: center;

         .notification {
            margin-top: 10px;
            margin-bottom: 30px;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            padding: 4px;
            background-color: bg-clr3;
            border-radius: 4px;

            &:hover {
               box-shadow: 0 0 2px 0;
               border-radius: 4px;
               background-color: bg-clr3;

            }
         }
      }
   }
}

.text-field {
   font-family: Livvic-Regular;

   input,
   label {
      font-family: Livvic-Regular;
      font-size: rem(14px);
   }
}

.time-field {
   margin-top: 10px;
   input {
      padding: 10px;
   }
}
