// COLOR:
$clr1: #121212; // Body
$clr2: #FFFFFF; // white
$clr3: #808080; // gray
$clr4: #778899; // lightslategray

// BACKGROUND-COLOR:
$bg-clr1: #F2F2F2; // Body
$bg-clr2: #FFFFFF; // white
$bg-clr3: #add8e6; // lightblue
$bg-clr4: #12121280; // background shade
$bg-clr5: #f8f8ff; // background modal
$bg-clr6: #f5f5dc; // beige
$bg-clr7: #ff6347; // tomato
$bg-clr8: #ff63478f; // lightTomato
$bg-clr9: #ffd700; // gold
$bg-clr10: #ffd70080; // lightGold
$bg-clr11: #d3d3d380; // select cell


// LAYOUT BREAKPOINTS
$break-mobile: 770px;
$break-narrow: 770px;
$break-normal: 990px;
$break-wide: 1200px;